*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  .column {
  float: left;
  padding: 0px;
  width: 30.33%;
  height: 9em;
  margin: 44px 7px;
}

.row::after {
  content: "";
  clear: both;
  display: flex;
}

.adjust {
  position: relative;
  text-align: left;
  bottom: 2em;
  left: 7px;
  color: white;
  FONT-WEIGHT: 100;
}

.row img {
border-top-left-radius: 19px;
border-top-right-radius: 19px;
border-bottom-left-radius: 19px;
border-bottom-right-radius: 19px;
}

div.absolute {
position: fixed;
width: 98%;
bottom: 0px;
}

.chat-header-right img {
width: 20px;
height: 20px;
margin: 5px 13px;
opacity: 0.4;
}

body {
display: flex;
overflow: hidden;
}

.sidebar {
flex: 5.17;
}

.header {
background-color: #ededed;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 15px;
border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-search {
display: flex;
align-items: center;
background-color: #f6f6f6;
padding: 400px 30px;
}

.sidebar-search-container {
display: flex;
align-items: center;
background-color: white;
width: 100%;
height: 100%;
border-radius: 20px;
}

.sidebar-search-container img {
width: 15px;
height: 15px;
margin: 0 15px;
opacity: 0.4;
}

.sidebar-search-container input {
border: none;
outline: none;
margin-left: 20px;
}

.switch {
position: relative;
display: inline-block;
width: 35px;
height: 17px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 12px;
width: 12px;
left: 2px;
bottom: 3px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.bottom-nav { 
height: 5rem;
overflow: hidden;
background-color: #201c1c;
position: fixed;
bottom: 0;
width: 100vw;
display: inline-flex;
}

.section1 {
display: inline-flex;
justify-content: flex-start;
max-width: 30%;
overflow: hidden;
text-align: start;
text-overflow: ellipsis;
background-color: #201c1c;
height: 5rem;
}

.section1 {
align-items: center;
display: flex;
flex: 1 1 25%;
}

.Text-changes {
  line-height: 5rem;
  font-size: 20px;
  letter-spacing: .00625em;
  font-weight: 300;
  margin: 0 0.75rem;
  padding-left: 30px;
}

.section2 {
display: inline-flex;
width: 40%;
}

.section2 img {
width: 46px;
height: 43px;
margin: 19px 10px;
border-top-left-radius: 105px;
border-top-right-radius: 105px;
border-bottom-left-radius: 95px;
border-bottom-right-radius: 95px;
}

.section3 {
justify-content: flex-end;
margin-right: 0.75rem;
align-items: center;
display: flex;
flex: 1 1 25%;
}

.icons {
align-items: center;
display: flex;
}

.icon1 {
position: relative;
}

.button1 {
  border: none;
  color: white;
  padding: 2px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  cursor: pointer;
}

.button1 {background-color: #201c1c;}

.button1 img {
border-top-left-radius: 105px;
border-top-right-radius: 105px;
border-bottom-left-radius: 95px;
border-bottom-right-radius: 95px;
}

.icon2 {
position: relative;
}

.button2 {
  border: none;
  color: white;
  padding: 7px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: -16px -2px;
  cursor: pointer;
}

.button2 {background-color: #201c1c;} 

.button2 img {
border-top-left-radius: 105px;
border-top-right-radius: 105px;
border-bottom-left-radius: 95px;
border-bottom-right-radius: 95px;
}

.icon3 {
position: relative;
}

.button3 {
  border: none;
  color: white;
  padding:2px -5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 0px;
  cursor: pointer;
}

.button3 {background-color: #201c1c;} 

.button3 img {
border-top-left-radius: 105px;
border-top-right-radius: 105px;
border-bottom-left-radius: 95px;
border-bottom-right-radius: 95px;
}

.icon4 {
position: relative;
}

.button4 {
  border: none;
  color: white;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: -2px -8px;
  cursor: pointer;
}

.button4 {background-color: #201c1c;}

.button4 img {
border-top-left-radius: 105px;
border-top-right-radius: 105px;
border-bottom-left-radius: 95px;
border-bottom-right-radius: 95px;
}

.icon5 {
position: relative;
}

.button5 {
  border: none;
  color: white;
  padding: 2px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: -2px -8px;
  cursor: pointer;
}

.button5 {background-color: #201c1c;} 

.button5 img {
border-top-left-radius: 105px;
border-top-right-radius: 105px;
border-bottom-left-radius: 95px;
border-bottom-right-radius: 95px;
}